<form [formGroup]="phone" class="phone" (ngSubmit)="addTelephones(phone.controls['telefone'].value)">
  <mat-form-field class="size" appearance="fill">
    <mat-label>Telefone</mat-label>
    <span matPrefix>+55&nbsp;</span>
    <input matInput formControlName="telefone" name="telefone" minlength="10" maxlength="11" placeholder="11999999999">
    <mat-icon matSuffix>phone</mat-icon>
    <mat-hint>
      Digite apenas os números sem caracteres
    </mat-hint>
  </mat-form-field>
  <button mat-fab color="primary" aria-label="Add new iten on table" [disabled]="!phone.valid">
    <mat-icon>add</mat-icon>
  </button>
</form>
