.size {
  width: 22vw;
  max-height: 8rem;
  overflow-y: auto;
  p{
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
  }
}

div.size::-webkit-scrollbar {
  width: 12px;
}

div.size::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

div.size::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(103, 58, 183, 1);
}
